
  <main>
  
    <article>
    <div class="artilce-à-propos">
    <h3 class="title-livrable">Livrable 4: Page web dynamique et intégration Javascript 29/06/2023 Eulenis Tarazona </h3>
    <br>
    <div class="à-propos">
    <ul>

    <br>  
        <li><strong>Accueil</strong></li>
        <br>
        <li><strong>Fonctionnalités développées grâce à l'architecture AJAX et scripts JQuery</strong></li>
        <li> L'utilisateur peut ajouter un article à son panier.</li>
        <li> L'utilisateur peut supprimer un article de son panier.</li>
        <li> L'utilisateur peut vider tout son panier.</li>
        <li> En fonction des articles choisis, un commentaire indiquera le nombre de produits.</li>
        <li> Ces produits sélectionnés seront également envoyés dans le panier.</li>
        <li> Lorsque l'utilisateur passe la souris sur le titre "Thème", alors un script Jquery est lancé et donne un commentaire sur 
             la raison d'être du titre au cas où l'utilisateur voudrait l'utiliser. </li>
        <li> Lorsque l'utilisateur passe la souris sur le titre "Chercher", alors un script Jquery est lancé et donne un commentaire sur 
             la raison d'être du titre au cas où l'utilisateur voudrait l'utiliser. </li>
        <li> Lorsque l'utilisateur passe la souris sur le titre "Prix", alors un script Jquery est lancé et donne un commentaire sur 
            la raison d'être du titre au cas où l'utilisateur voudrait l'utiliser. </li>
        
    </ul> 
    <br>
    
    <br>
    </ul>
    </div>
    </div>
    </article>
    
  </main>  



  
    
